body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    background-color: #22254b;
    padding: 1rem;
    color: #FFFFED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #22254b;
    overflow: hidden;
  }
  
  nav a {
    float: left;
    color: #fbf7f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #fbf7f5;
    color: black;
  }

  
.about-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.about-content h2 {
    color: #373b69;
}

.about-content p {
    color: #666666;
    line-height: 1.5;
}
