
  
  /* Style the main heading */
  h2 {
    text-align: center;
    color: #22254b;
  }
  
  /* Style the logo container */
  #LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin */
  }


  #logo {
    height: 500px;
    width: 1000px;
  }
  
  /* Style the event details */
  h2, h3, p {
    text-align: center;
    color: #333333;
    margin: 10px 0;
  }
  
  /* Style the subevent container */
  #SubEvent {
    text-align: center;
  }
  

  div#SubEvent img  {
    display: none;
}
#regButton {
  text-align: center;
  margin-top: 20px; /* Adjust the margin based on your design */
}

#regButton button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Optional: Add hover styles */
  &:hover {
      background-color: #2980b9;
  }
}
