/* Apply a background color and center the content */
body {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  background-color: #22254b;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navigation bar */
nav {
  background-color: #22254b;
  overflow: hidden;
}

nav a {
  float: left;
  color: #fbf7f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fbf7f5;
  color: black;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

h3 {
  display: inline-block;
  margin: 5px auto;
  color: #555555;
  text-align: center;
}

/* Style the table headers */
th {
  background-color: #22254b;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

/* Style the table cells */
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Style the table rows */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style the table rows on hover */
tr:hover {
  background-color: #ddd;
}

/* Style the user details */
#email, #name, #user, #type {
  margin-top: 10px;
  text-align: center;
  color: #555555;
}

/* Add more styles as needed */
