.add-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #FFFFED;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.add-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

.subeventInput {
    margin-bottom: 10px;
}

#subeventSection {
    margin-bottom: 16px;
}

#addSubeventButton {
    padding: 8px;
    background-color: #22254b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addSubeventButton:hover {
    background-color: #22254b;
}

#addEventButton {
    background-color: #22254b;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#addEventButton:hover {
    background-color: #22254b;
}

#resultMessage {
    margin-top: 10px;
    font-weight: bold;
}
