

h1 {
    text-align: center;
    background-color: #FFFFED;
}

.chart-container {
    border: 1px solid rgb(244, 244, 244);
    padding: 10px;
    margin: 50px auto; /* Adjusted margin to center the container horizontally and provide more space at the top */
    text-align: center;
}
