
:root {
    --navbar-height: 80px; 
  }
  
  .edit-container {
    max-width: 800px;
    margin: calc((100vh - var(--navbar-height) - 40px) / 2) auto; 
    background-color: #FFFFED;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 101;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .edit-input,
  .edit-textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .edit-textarea {
    resize: vertical;
  }
  
  .edit-submit {
    background-color: #22254b;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-submit:hover {
    background-color: #22254b;
  }
  