

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color, #FFFFED);
    margin: 0;
    padding: 0;
    padding-top: 60px; 
}

.container-fluid.admin {
    margin-top: 20px; 
    margin-left: 20%; 
    z-index: 1; 
    padding-top: 20px; 
}

.container {
    background-color: #22254b;
}

.col-md-12.alert.alert-primary {
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.user-container {
    margin-bottom: 20px; 
}

.user-info {
    margin-bottom: 10px; 
}

.user-name,
.user-email {
    display: block; 
}

.view-history {
    margin-left: 10px; 
}


.sidenav {
    position: fixed;
}

.card {
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--primary-color, #fbf7f5);
}

.table th,
.table td {
    padding: 12px;
    vertical-align: top;
    border: 1px solid var(--secondary-color, #8d23ad);
}

.table thead th {
    background-color: var(--accent-color, #57b846);
    color: #fff;
}

.table-hover tbody tr:hover {
    background-color: rgba(87, 184, 70, 0.1);
}

.user-header {
    font-size: 36px;
    color: var(--secondary-color, #22254b);
    text-align: center;
    margin-bottom: 20px;
}

.modal {
    z-index: 1050;
}
