/* get_events.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFED;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the container content */
}

.event-container {
    margin-top: 20px;
}

.event-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: relative; /* Enable positioning for child elements */
}

.event-name {
    margin-bottom: 10px;
}

/* Style for the buttons */
.btn {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
}

/* Center align the buttons */
.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
