body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.image-link {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: filter 0.3s;
}

.image-link:hover .video {
    opacity: 1;
    z-index: 2; /* Bring the video in front of the image on hover */
}

.image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Keep the image below the video */
    transition: filter 0.3s;
}

.image-link:hover img {
    filter: brightness(15%); /* Darken the image by 75% */
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}
