/* Add your CSS styles here */
/* Font */
@font-face {
    font-family: 'Name';
    src: url('NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Reset Styles */
body, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
}

/* Styles for navigation menu */
nav {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 0; /* Padding at the top and bottom */
    display: flex; /* Display the content in a flex container */
    justify-content: space-between; /* Push "Home" and "Agents" to the sides */
    align-items: center; /* Vertically align items */
}

ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
    text-align: center; /* Center the list items horizontally */
}

li {
    display: inline; /* Display list items in a horizontal line */
    margin-right: 20px; /* Add space between list items */
}

a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make the text bold */
}

/* Styles for the search bar and dropdown */
.nav-search {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 150px; /* Adjust the width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add space between the search bar and dropdown */
}

#roleFilter {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('/websys/images/background.jpg');
    background-size: 100% 100%; /* Scale the image to cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

/* Background Overlay */
.background {
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Name', Arial, sans-serif; /* Use the custom font */
}

/* Heading Styles */
h1 {
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 55px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Agent Carousel */
.agent-carousel {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

/* Agent Container */
.agent-container {
    display: flex;
    gap: 20px; /* Adjust the desired spacing between agent images */
    padding: 10px;
    justify-content: flex-start; /* Start from the left and allow horizontal scrolling */
    width: calc(100% + 20px); /* Add padding to account for the gap between agents */
}

/* Individual Agent Styles */
.agent {
    text-align: center;
    width: 33.33%; /* Set the width to 33.33% to display three agents in a row */
    scroll-snap-align: start;
    display: inline-block;
}

.agent img {
    width: 115%; /* Make the images occupy the full width of the agent box */
    height: 115; /* Maintain aspect ratio */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.agent-name {
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 45px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
}

/* Previous and Next Buttons */
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: min(4vw, 4vh); /* Set the font size based on the smaller of viewport width and height */
    color: white;
    /* Add black outlines */
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 
    z-index: 1; /* Control the stacking order */
}

.prev-button {
    left: 2%; /* Adjust the position to move the button more to the left */
}

.next-button {
    right: 2%; /* Adjust the position to move the button more to the right */
}

.prev-button::before {
    content: '\2190';
    font-size: 4vw; /* Set the font size based on the viewport width */
}

.next-button::before {
    content: '\2192';
    font-size: 4vw; /* Set the font size based on the viewport width */
}

/* Agent Details */
.agent-details {
    background: linear-gradient(to bottom, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3), var(--gradient-color-4));
    color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    display: none;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

/* Scrollbar Styles in Agent Details */
.agent-details::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar track */
    background-color: transparent; /* Make the white part transparent */
}

.agent-details::-webkit-scrollbar-thumb {
    background-color: #000; /* Change the color of the scrollbar thumb to black */
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Agent Header */
.agent-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.agent-header img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
}

.agent-details-text {
    flex-grow: 1;
}

.agent-details-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.agent-details-text p {
    font-size: 18px;
}

/* Agent Role Details */
.agent-role-details h3 {
    font-size: 24px;
    margin-top: 20px;
}

.agent-role-details p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Skills Styles */
.skills {
    text-align: left;
}

.skill {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.skill-details {
    display: flex;
    align-items: center;
}

.skill-details img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

.skill-text h4 {
    font-size: 20px;
    margin: 0;
}

.skill-text p {
    font-size: 16px;
}
