/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-image: url("/websys/images/dota_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header styles */
h1 {
    text-align: center;
}

/* Navigation styles */
nav {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Match container styles */
.match-container {
    background-color: rgba(0, 0, 0, 0.548);
    margin: 20px auto; /* Center the container */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 450px; /* Set a maximum width for the container */
    border: 1px solid #000; /* Add a border with 1px width */
    width: 100%; /* Adjust the width for one container per row */
    margin-bottom: 20px;
    font-family: 'Times New Roman', sans-serif; /* Apply Times New Roman font */
    font-weight: bold; /* Make the text thicker */
}

.dire-team-red {
    color: red;
}

.radiant-team-blue {
    color: blue;
}

.dire-team-black {
    color: black;
}

/* Matches container styles */
#matches-container {
    max-width: 130%;
}

.match-left {
    padding: 10px;
    font-family: 'Times New Roman', sans-serif; /* Apply Times New Roman font */
    font-weight: bold; /* Make the text thicker */
}

.match-left p {
    font-size: 16px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 5px 0;
}

.scores p {
    font-size: 16px;
    margin: 0;
    font-family: 'Times New Roman', sans-serif; /* Apply Times New Roman font */
    font-weight: bold; /* Make the text thicker */
}

.match-right {
    flex: 1;
    padding: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.match-right p {
    font-size: 16px;
    margin: 0;
    font-family: 'Times New Roman', sans-serif; /* Apply Times New Roman font */
    font-weight: bold; /* Make the text thicker */
}

.view-match-link {
    margin-top: auto; /* Push the link to the bottom */
    text-decoration: none; /* Remove underline */
    font-family: 'Times New Roman', sans-serif; /* Apply Times New Roman font */
    font-weight: bold; /* Make the text thicker */
}

.view-match-link:hover {
    text-decoration: underline;
    text-decoration: none; /* Remove underline on hover */
}
