/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-image: url("/websys/images/versus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header styles */
h1 {
    text-align: center;
    color: #fff; /* Add text color */
}

/* Navigation styles */
nav {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Team container styles */
.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Add background color for team containers */
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

/* Team logo styles */
.team-logo {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.team-logo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Hero container styles */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align heroes to the left */
    gap: 10px; /* Add some spacing between heroes */
    background-color: transparent; /* Add background color for hero containers */
    border-radius: 4px;
    padding: 10px;
    color: #fff;
}

/* Hero card styles */
.hero-card {
    background-color: transparent;
    margin: 10px;
    width: 160px; /* Increased the width to allow more space for the hero name */
    height: 160px; /* Increased the height accordingly */
    border: none;
    border-radius: 4px;
    transition: transform 0.2s;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hero name styles */
.hero-name {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    transform: translateY(100%);
    transition: transform 0.2s;
    text-transform: uppercase;
    font-size: 12px; /* Adjust the font size as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Truncate long hero names */
}

/* Hide hero names by default */
.hero-card .hero-name {
    transform: translateY(100%);
}

.hero-card:hover .hero-name {
    transform: translateY(0);
}


/* Additional styling for the team containers */
#radiantContainer {
    background-color: rgba(0, 0, 0, 0.356); /* Add background color with transparency */
}

#direContainer {
    background-color: rgba(0, 0, 0, 0.365); /* Add background color with transparency */
}

.MatchSummary {
    text-align: center;
    font-size: 24px;
    font-weight: bolder; 
}

.MatchResult {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.MatchResult .MatchWinner {
    color: rgb(21, 255, 0);
}

.MatchResult .MatchLoser {
    color: rgb(172, 31, 31);
}

.MatchScore {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.MatchDuration {
    text-align: center;
    font-size: 18px;
    color: white;
}