/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Video background styles */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Header styles */
h1 {
    text-align: center;
}

/* Navigation styles */
nav {
    width: 100%;
    background-color: black;
    overflow: auto;
    color: white;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Filters styles */
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px;
    margin: 0;
}

label, select {
    color: whitesmoke;
    font-weight: bold;
    margin-right: 10px;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Hero container styles */
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Hero card styles */
.hero-card {
    background-color: transparent;
    margin: 10px;
    width: 180px;
    border: none;
    border-radius: 4px;
    transition: transform 0.2s;
    overflow: hidden;
    position: relative;
}

.hero-card:hover {
    transform: scale(1.1);
}

/* Hero image styles */
.hero-image {
    width: 100%;
    height: auto;
}

/* Hero name styles */
.hero-name {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    transform: translateY(100%);
    transition: transform 0.2s;
}

.hero-card:hover .hero-name {
    transform: translateY(0);
}
